@page
@using Microsoft.AspNetCore.Http
@model BirdTradingApp.Pages.Shops.AllProductModel
@{
    HttpContext context = ViewContext.HttpContext;
    var role = context.Session.GetString("Role");
    var name = context.Session.GetString("Name");
    if (Model.Session == null)
    {
        Response.Redirect("/Login");
        return;
    }
}



<div style="margin-left:10px;background-size: cover;width:1500px">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Title -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <p class="m-auto">Shop Channel</p>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                @if (role is null)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-page="/Login/Index" class="dropdown-item btn btn-secondary">Sign in</a>
                            <a asp-page="/Users/Register" class="dropdown-item btn btn-secondary">Sign up</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-decoration-none text-dark" data-toggle="dropdown">
                            Welcome, @name
                        </a>
                        <div class="dropdown-menu bg-dark rounded-0 border-0 m-0">
                            <a asp-page="/Users/Index" class="dropdown-item text-light">Profile</a>
                            <a asp-page="/Shops/EditShop" class="dropdown-item text-light">Shop Profile</a>
                            <a asp-page="/Login/Logout" class="dropdown-item text-light">Logout</a>
                        </div>
                    </div>
                }

    </nav>
    <form asp-page="Shared/OrderManagement" method="get">
        <p>
            Search Name
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn-btn-primary" /><br />
        </p>

    </form>
    <p>
        <a asp-page="/Products/AddProduct">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].OriginalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Quantity)
                </th>
                <th>
                    <div style="text-align:center">
                        Image
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Description)
                </th>
                <th>
                        Category
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalPrice) $
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @if (item.ImageUrl.StartsWith("img"))
                        {
                            <img style="height:200px;width:300px;" src="~/@item.ImageUrl" alt="Image">
                        }
                        else
                        {
                            <img class="img-fluid w-100" src="@item.ImageUrl" alt="">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page="./EditProduct" asp-route-id="@item.Id">Edit</a> |<br>
                        <form method="post">
                            <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)"/>
                            <button type="submit" class="btn btn-primary" asp-page-handler="Delete" onclick="return confirm('Do you want to delete this Product?')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
