@page
@using Microsoft.AspNetCore.Http
@model BirdTradingApp.Pages.Shops.ShippingInformationModel
@{
}
@{
    HttpContext context = ViewContext.HttpContext;
    var role = context.Session.GetString("Role");
    var name = context.Session.GetString("Name");
    if (Model.Session == null)
    {
        Response.Redirect("/Login");
        return;
    }
}



<div style="margin-left:10px;background-size: cover;width:1500px">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Title -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <p class="m-auto">Shop Channel</p>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                @if (role is null)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-page="/Login/Index" class="dropdown-item btn btn-secondary">Sign in</a>
                            <a asp-page="/Users/Register" class="dropdown-item btn btn-secondary">Sign up</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-decoration-none text-dark" data-toggle="dropdown">
                            Welcome, @name
                        </a>
                        <div class="dropdown-menu bg-dark rounded-0 border-0 m-0">
                            <a asp-page="/Users/Index" class="dropdown-item text-light">Profile</a>
                            <a asp-page="/Shops/EditShop" class="dropdown-item text-light">Shop Profile</a>
                            <a asp-page="/Login/Logout" class="dropdown-item text-light">Logout</a>
                        </div>
                    </div>
                }

    </nav>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInformation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingInformation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInformation.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingInformation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInformation.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingInformation.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInformation.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingInformation.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInformation.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingInformation.Phone)
        </dd>
    </dl>
</div>
<div>

        <a class="" btn btn-primary"" asp-page="./Index">Back to List</a>
</div>
