@page "{handler?}"
@model BirdTradingApp.Pages.Orders.CheckoutModel
@using BirdTrading.Utils.Others
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Checkout";
    if (string.IsNullOrEmpty(HttpContext.Session.GetString("Role")))
    {
        Response.Redirect("/Login");
        return;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container-fluid">

    <!-- Address line start -->
    <div class="address-line shadow-sm bg-light">
        <h5 class="text-danger pt-4 pl-3">Shipping Address</h5>
        <div class="row p-3" id="shipping-address-section">
            <div class="col-6 text-black">
                <b>@Model.ShippingInformation.Name</b> <br />
                @StringUtils.FormatPhoneNumber(Model.ShippingInformation.Phone)
            </div>
            <div class="col-4">
                <p>@Model.ShippingInformation.Address</p>
            </div>
            <!-- Change shipping address start -->

            <div class="col-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary bg-white border-0 text-danger p-0 address-btn-toggle"
                        data-toggle="modal" data-target="#changeAddressModal">
                    Change
                </button>

                <!-- Modal -->
                <div class="modal fade" id="changeAddressModal" tabindex="-1" role="dialog" aria-labelledby="changeAddressModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Change shipping address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @foreach (var item in Model.AddressList)
                                {
                                    <form method="get" class="row py-3 border-bottom" asp-page="Checkout" asp-page-handler="ChangeAddress">
                                        <div class="col-6 text-black">
                                            <b>@item.Name</b> <br />
                                            @StringUtils.FormatPhoneNumber(item.Phone)
                                        </div>
                                        <div class="col-4">
                                            <p>@item.Address</p>
                                        </div>
                                        @if (item.Id == Model.ShippingInformation.Id)
                                        {
                                            <a class="btn btn-light bg-white border-0 text-danger disabled">Selected</a>
                                        }
                                        else
                                        {
                                            <input type="hidden" name="addressId" value="@item.Id">
                                            <input type="hidden" name="cartDetailsId" value="@Request.Query["cartDetailsId"]">
                                            <input type="submit" class="btn btn-light bg-white border-0 text-primary" value="Change">
                                        }
                                    </form>
                                }
                            </div>
                            <div class="modal-footer border-top-0">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" asp-page="Checkout" asp-page-handler="ChangeAddress">Add another address</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Change shipping address end -->
        </div>
    </div>
    <!-- Address line end -->
    <!-- Products start -->
    <div class="product-list shadow-sm mt-4 bg-light">
        <div class="table row pt-5 pl-3">
            <div class="table-header col-12 row">
                <div class="col-6 pl-4">
                    <b>Products</b>
                </div>
                <div class="col-2 text-center">
                    <b>Price</b>
                </div>
                <div class="col-2 text-center">
                    <b>Quantity</b>
                </div>
                <div class="col-2 text-center">
                    <b>Total</b>
                </div>
            </div>
            <hr class="col-11" />
            <div class="table-shop-row p-3 pl-4">
                <i class="fa-solid fa-store"></i> &nbsp; You & me
            </div>
            <hr class="col-11" />
            @foreach (var item in Model.CartDetails)
            {
                <div class="table-product-row row col-12 p-3">
                    <div class="col-6 pl-4">
                        @if (item.Product.ImageUrl.StartsWith("img"))
                        {
                            <img src="~/@item.Product.ImageUrl" alt="" style="width: 75px;">
                        }
                        else
                        {
                            <img class="img-fluid w-50" src="@item.Product.ImageUrl" alt="" style="width: 200px; height: 200px;">
                        }
                        @item.Product.Name
                    </div>
                    <div class="col-2 text-center">
                        @StringUtils.FormatCurrency(item.Product.OriginalPrice)
                    </div>
                    <div class="col-2 text-center">
                        @item.Quantity
                    </div>
                    <div class="col-2 text-center">
                        @StringUtils.FormatCurrency(item.Product.OriginalPrice * item.Quantity)
                    </div>
                </div>
            }
            <hr class="col-11" />
            <div class="col-12 text-end pr-5 p-3" style="text-align: right;">
                Shipping By: GHN
            </div>
            <hr class="col-11" />
            <div class="col-12 text-end pr-5 pb-4" style="text-align: right;">
                <h5>Total (@Model.CartDetails.Count() products): <span class="text-danger">@StringUtils.FormatCurrency(Model.CurrentTotal)</span></h5>
            </div>
        </div>
    </div>
    <!-- Products end -->
    <!-- Checkout start -->
    <div class="checkout-container mt-5 shadow-sm bg-light">
        <div class="row p-4">
            <div class="col-8">
                <h5>Payment</h5>
            </div>
            <div class="col-3 pr-4" style="text-align: right;">
                Momo
            </div>
        </div>
        <hr />
        <div class="p-30 mb-3">
            <div class="border-bottom pb-2">
                <div class="d-flex justify-content-between mb-3">
                    <h6>Subtotal</h6>
                    <h6>@StringUtils.FormatCurrency(Model.CurrentTotal)</h6>
                </div>
                <div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">Shipping</h6>
                    <h6 class="font-weight-medium">$10</h6>
                </div>
            </div>
            <div class="pt-2">
                <div class="d-flex justify-content-between mt-2">
                    <h5>Total</h5>
                    <h5>@StringUtils.FormatCurrency(Model.CurrentTotal + 10)</h5>
                </div>
            </div>
        </div>
        <hr />
        <div class="border-1 row p-4">
            <div class="col-11 pr-4" style="text-align: right;">
                <a class="btn btn-danger border-1" asp-page-handler="Payment"
                   asp-route-cartDetailsId="@Request.Query["cartDetailsId"]"
                   asp-route-addressId="@Model.ShippingInformation.Id">Checkout</a>
            </div>
        </div>
    </div>
    <!-- Checkout end -->
</div>