@page "{detailId?}"
@model BirdTradingApp.Pages.Orders.DetailsModel
@using BirdTrading.Utils.Others
@{
    ViewData["Title"] = "Details";
    if (string.IsNullOrEmpty(HttpContext.Session.GetString("Role")))
    {
        Response.Redirect("/Login");
        return;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container bg-light p-4">
    <div class="header row pl-4 pb-3 border-bottom">
        <div class="col-4">
            <a class="text-decoration-none text-dark" asp-page="/Orders/Purchase" asp-route-type="@Request.Query["type"]">
                <i class="fa-solid fa-arrow-left"></i> &nbsp; Back
            </a>
        </div>
        <div class="col 8" style="text-align: right;">
            Order ID: <b>#@(Model.Details.OrderDate.ToString("MMddyy") + "OD" + Model.Details.Id)</b> |
            <span class="text-danger">
                @Model.Details.ShippingSessions.Last().Status.ToString().FormatEnumString().ToUpper()
            </span>
        </div>
    </div>
    <!-- Detail Start -->
    <div class="detail-content row pt-3 pb-3">
        @foreach (var item in Model.Details.OrderDetails)
        {
            <div class="table-product-row row col-12 p-3">
                <a class="text-decoration-none text-dark col-10 row" asp-page="/Products/Details" asp-route-id="@item.ProductId">
                    <div class="col-2 pl-4 text-center">
                        @if (item.Product.ImageUrl.StartsWith("img"))
                        {
                            <img src="~/@item.Product.ImageUrl" alt="" class="w-75">
                        }
                        else
                        {
                            <img src="@item.Product.ImageUrl" alt="" class="w-75">
                        }
                    </div>
                    <div class="col-8">
                        <span>
                            <span class="text-dark">@item.Product.Name </span><br>
                            <span class="text-sm-left">x @item.Quantity</span>
                        </span>
                    </div>
                </a>
                <div class="col-2 text-center">
                    @StringUtils.FormatCurrency(item.Product.OriginalPrice)
                </div>
            </div>
            <hr class="col-11" />
        }
    </div>
    <!-- Detail End -->
    <!-- Address Line Start -->
    <div class="address-line row p-4 border-bottom">
        <div class="address-header pb-3 col-12">
            <h5>Shipping Information</h5>
        </div>
        <div class="address-content row col-12">
            <div class="col-7 border-right border-5 border-dark">
                <span class="font-weight-bold">@Model.Details.ShippingInformation.Name</span> <br />
                <small>@Model.Details.ShippingInformation.Phone.FormatPhoneNumber()</small> <br />
                <small>@Model.Details.ShippingInformation.Address</small>
            </div>
            <div class="vr"></div>
            <div class="col-5">
                @foreach (var item in Model.Details.ShippingSessions)
                {
                    <div class="status-details row">
                        <div class="status-datetime col-5">
                            @item.SessionDate.ToString("HH:mm dd-MM-yyyy")
                        </div>
                        <div class="col-7" style="color: #03c04a">
                            <b>@item.Status.ToString().FormatEnumString()</b> <br />
                            @(item.Description ?? "No Description")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Address Line End -->
    <!-- Total Start -->
    <div class="total-container">
        <div class="product-totals row">
            <div class="col-8 border-right border-bottom pt-2 pb-2" style="text-align: right">
                <small>Product totals</small>
            </div>
            <div class="col-4 border-bottom pt-2 pb-2" style="text-align: right">
                <small>$49.99</small>
            </div>
        </div>
        <div class="product-shipping-fee row">
            <div class="col-8 border-right border-bottom pt-2 pb-2" style="text-align: right">
                <small>Shipping Fee</small>
            </div>
            <div class="col-4 border-bottom pt-2 pb-2" style="text-align: right">
                <small>$10.00</small>
            </div>
        </div>
        <div class="orders-total row">
            <div class="col-8 border-right border-bottom pt-2 pb-2" style="text-align: right">
                <small>Total</small>
            </div>
            <div class="col-4 border-bottom pt-2 pb-2" style="text-align: right">
                <small>$59.99</small>
            </div>
        </div>
        <div class="payment-type row">
            <div class="col-8 border-right pt-2 pb-2" style="text-align: right">
                <small>Payment type</small>
            </div>
            <div class="col-4 pt-2 pb-2" style="text-align: right">
                <small>Paypal</small>
            </div>
        </div>
    </div>
    <!-- Total End -->
    <div class="pt-3 pr-4 pb-3" style="text-align: right;">
        @if (Model.Details.ShippingSessions.Last().Status == BirdTrading.Domain.Enums.OrderStatus.Delivered)
        {
            @if (Model.Details.OrderDetails.Any(x => x.Rating == null))
            {
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary pl-5 pr-5 m-3" data-toggle="modal" data-target="#rating-item-@Model.Details.Id">
                    Rating
                </button>

                <!-- Modal -->
                <div class="modal fade" id="rating-item-@Model.Details.Id" tabindex="-1" role="dialog" aria-labelledby="rating-item-@Model.Details.Id-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rating-model-@Model.Details.Id-longTitle">Leave a comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" asp-page="/Orders/Purchase" asp-page-handler="Rating" onsubmit="return SubmitComment()">
                                <div class="modal-body text-left">
                                    <dl class="dl-horizontal">
                                        <dd>
                                            <div class="commentBox bg-light">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-12 control-label">
                                                            Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <div onmouseout="CRateSelected()">
                                                                <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                                                <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                                                <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                                                <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                                                <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <textarea name="comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="rating" id="Rating" value="0" />
                                                    <input type="hidden" name="orderId" value="@Model.Details.Id" />
                                                    <input type="hidden" name="type" value="@Request.Query["type"]" />
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" name="btnRegister">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <button type="button" class="btn btn-primary pl-5 pr-5 m-3 disabled">Rated</button>
            }
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function SubmitComment() {
            if ($("#Rating").val() == "0") {
                alert("Please rate this service provider.");
                return false;
            }
            else {
                return true;
            }
        }

        function CRate(r) {
            $("#Rating").val(r);
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
            // unselect remaining
            for (var i = r + 1; i <= 5; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateOver(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }

        function CRateOut(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateSelected() {
            var setRating = $("#Rating").val();
            for (var i = 1; i <= setRating; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }
    </script>

    <script type="text/javascript">
        function SCRate() {
            for (var i = 1; i <= 5; i++) {
                $("#sRate" + i).attr('class', 'starGlowN');
            }
        }
        $(function () {
            SCRate();
        });

        function submitTest() {
            alert($("#Rating").val() + ", " + $("#Comment").val());
        }
    </script>
}