@page "{handler?}"
@model BirdTradingApp.Pages.Orders.PurchaseModel
@using Microsoft.AspNetCore.Http
@using BirdTrading.Utils.Others
@{
    ViewData["Title"] = "Order Purchase";
    if (string.IsNullOrEmpty(HttpContext.Session.GetString("Role")))
    {
        Response.Redirect("/Login");
        return;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container p-3">
    <div class="row header">
        @{
            string currentStatus(string type)
            {
                var value = "";
                if (string.IsNullOrEmpty(Request.Query["type"]) && type.Equals("-1")) value = "border-bottom border-primary";
                else if (string.IsNullOrEmpty(Request.Query["type"]) && !type.Equals("-1")) value = "border-bottom text-dark";
                else
                {
                    var requestValue = Request.Query["type"].ToString();
                    value = type.Equals(requestValue) ? "border-bottom border-primary" : "border-bottom text-dark";
                }
                return value;
            }
        }
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("-1")" asp-page="/Orders/Purchase">
            All
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("0")" asp-page="/Orders/Purchase" asp-route-type="0">
            Pending confirmation
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("1")" asp-page="/Orders/Purchase" asp-route-type="1">
            Wait for Delivery
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("2")" asp-page="/Orders/Purchase" asp-route-type="2">
            Out for delivery
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("3")" asp-page="/Orders/Purchase" asp-route-type="3">
            Deliverd
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("4")" asp-page="/Orders/Purchase" asp-route-type="4">
            Cancel
        </a>
    </div>
    <!-- Search start -->
    <div class="search-section w-100 pt-3">
        <form method="get" asp-page-handler="Search">
            <input type="text" placeholder="Search by product name, shop or by order Id"
                   name="search"
                   class="w-100 border-0 p-3 pl-5"
                   style="background: #d8d8d8;" />
        </form>
    </div>
    <!-- Search end -->
    <!-- Product start -->
    <div class="orders-content pt-3">
        @if (Model.Orders.Count() == 0)
        {
            <partial name="OrdersPartials/_EmptyCartPartial" />
        }
        else
        {
            @foreach (var item in Model.Orders)
            {
                <div class="bg-light shadow-sm orders-detail-content border-bottom mb-3">
                    <div class="table-shop-row pl-4 pt-3 row">
                        <div class="col-8 text-danger font-weight-bold lead">
                            <i class="fa-solid fa-store"></i> &nbsp;
                            @item.OrderDetails.First().Product.Shop.Name
                        </div>
                        <div class="col-4 pr-5 text-danger" style="text-align: right;">
                            <a class="text-decoration-none text-danger" asp-page="/Orders/Details" asp-route-detailId="@item.Id" asp-route-type="@Request.Query["type"]">
                                @item.ShippingSessions.Last().Status.ToString().FormatEnumString()
                            </a>
                        </div>
                    </div>
                    <hr class="col-11" />
                    @foreach (var details in item.OrderDetails)
                    {
                        <div class="table-product-row row col-12 p-3">
                            <a class="text-decoration-none text-dark col-10 row" asp-page="/Products/Details" asp-route-id="@details.ProductId">
                                <div class="col-2 pl-4 text-center">
                                    @if (details.Product.ImageUrl.StartsWith("img"))
                                    {
                                        <img src="~/@details.Product.ImageUrl" alt="" class="w-75">
                                    }
                                    else
                                    {
                                        <img src="@details.Product.ImageUrl" alt="" class="w-75">
                                    }
                                </div>
                                <div class="col-8">
                                    <span>
                                        <span class="text-dark">@details.Product.Name </span><br>
                                        <span class="text-sm-left">x @details.Quantity</span>
                                    </span>
                                </div>
                            </a>
                            <div class="col-2 text-center">
                                $@details.Product.OriginalPrice
                            </div>
                        </div>
                    }
                    <hr class="col-11" />
                    <div class="row">
                        <div class="col-6 pl-5 text-dark font-weight-bold">
                            Order Date: @item.OrderDate.ToString("dd-MM-yyyy HH:mm")
                        </div>
                        <div class="col-6 pr-5" style="text-align: right;">
                            Totals: <span class="text-danger font-weight-bold" style="font-size: 20px">$@item.Total</span>
                        </div>
                    </div>
                    <div class="pt-3 pr-4 pb-3" style="text-align: right;">
                        @if (item.ShippingSessions.Last().Status == BirdTrading.Domain.Enums.OrderStatus.Delivered)
                        {

                            @if (item.OrderDetails.Any(x => x.Rating == null))
                            {
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary pl-5 pr-5 m-3" data-toggle="modal" data-target="#rating-item-@item.Id">
                                    Rating
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="rating-item-@item.Id" tabindex="-1" role="dialog" aria-labelledby="rating-item-@item.Id-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="rating-model-@item.Id-longTitle">Leave a comment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" asp-page="/Orders/Purchase" asp-page-handler="Rating" onsubmit="return SubmitComment('@item.Id')">
                                                <div class="modal-body text-left">
                                                    <dl class="dl-horizontal">
                                                        <dd>
                                                            <div class="commentBox bg-light">
                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-12 control-label">
                                                                            Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                                                        </label>
                                                                        <div class="col-md-7">
                                                                            <div onmouseout="CRateSelected('@item.Id')">
                                                                                <span class="starFade" id="Rate-@item.Id-1" onclick="CRate(1, '@item.Id')" onmouseover="CRateOver(1, '@item.Id')" onmouseout="CRateOut(1, '@item.Id')"></span>
                                                                                <span class="starFade" id="Rate-@item.Id-2" onclick="CRate(2, '@item.Id')" onmouseover="CRateOver(2, '@item.Id')" onmouseout="CRateOut(2, '@item.Id')"></span>
                                                                                <span class="starFade" id="Rate-@item.Id-3" onclick="CRate(3, '@item.Id')" onmouseover="CRateOver(3, '@item.Id')" onmouseout="CRateOut(3, '@item.Id')"></span>
                                                                                <span class="starFade" id="Rate-@item.Id-4" onclick="CRate(4, '@item.Id')" onmouseover="CRateOver(4, '@item.Id')" onmouseout="CRateOut(4, '@item.Id')"></span>
                                                                                <span class="starFade" id="Rate-@item.Id-5" onclick="CRate(5, '@item.Id')" onmouseover="CRateOver(5, '@item.Id')" onmouseout="CRateOut(5, '@item.Id')"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <textarea name="comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" name="rating" id="Rating-@item.Id" value="0" />
                                                                    <input type="hidden" name="orderId" id="ProdutId" value="@item.Id" />
                                                                </div>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" name="btnRegister">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary pl-5 pr-5 m-3 disabled">Rated</button>
                            }
                        }
                        else
                        {
                            <a class="btn btn-primary pl-5 pr-5 m-3" asp-page="/Orders/Details" asp-route-detailId="@item.Id" asp-route-type="@Request.Query["type"]">Details</a>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <!-- Product end -->
</div>
@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        function SubmitComment(orderId) {
            if ($("#Rating-" + orderId).val() == "0") {
                toastr.warning("Please rate this service provider.");
                return false;
            }
            else {
                return true;
            }
        }

        function CRate(r, orderId) {
            var ratingId = "Rate-" + orderId + "-";
            $("#Rating-" + orderId).val(r);
            for (var i = 1; i <= r; i++) {
                $("#" + ratingId + i).attr('class', 'starGlow');
            }
            // unselect remaining
            for (var i = r + 1; i <= 5; i++) {
                $("#" + ratingId + i).attr('class', 'starFade');
            }
        }

        function CRateOver(r, orderId) {
            var ratingId = "Rate-" + orderId + "-";
            for (var i = 1; i <= r; i++) {
                $("#" + ratingId + i).attr('class', 'starGlow');
            }
        }

        function CRateOut(r, orderId) {
            var ratingId = "Rate-" + orderId + "-";
            for (var i = 1; i <= r; i++) {
                $("#" + ratingId + i).attr('class', 'starFade');
            }
        }

        function CRateSelected(orderId) {
            var ratingId = "Rate-" + orderId + "-";
            var setRating = $("#Rating-" + orderId).val();
            for (var i = 1; i <= setRating; i++) {
                $("#" + ratingId + i).attr('class', 'starGlow');
            }
        }
    </script>

    <script type="text/javascript">
        function SCRate(orderId) {
            for (var i = 1; i <= 5; i++) {
                $("#sRate" + i).attr('class', 'starGlowN');
            }
        }
        $(function () {
            SCRate();
        });
    </script>
}