@page "{handler?}"
@model BirdTradingApp.Pages.Orders.PurchaseModel
@using Microsoft.AspNetCore.Http
@using BirdTrading.Utils.Others
@{
    ViewData["Title"] = "Order Purchase";
    if (string.IsNullOrEmpty(HttpContext.Session.GetString("Role")))
    {
        Response.Redirect("/Login");
        return;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container p-3">
    <div class="row header">
        @{
            string currentStatus(string type)
            {
                var value = "";
                if (string.IsNullOrEmpty(Request.Query["type"]) && type.Equals("-1")) value = "border-bottom border-primary";
                else if (string.IsNullOrEmpty(Request.Query["type"]) && !type.Equals("-1")) value = "border-bottom text-dark";
                else
                {
                    var requestValue = Request.Query["type"].ToString();
                    value = type.Equals(requestValue) ? "border-bottom border-primary" : "border-bottom text-dark";
                }
                return value;
            }
        }
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("-1")" asp-page="/Orders/Purchase">
            All
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("0")" asp-page="/Orders/Purchase" asp-route-type="0">
            Pending confirmation
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("1")" asp-page="/Orders/Purchase" asp-route-type="1">
            Wait for Delivery
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("2")" asp-page="/Orders/Purchase" asp-route-type="2">
            Out for delivery
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("3")" asp-page="/Orders/Purchase" asp-route-type="3">
            Deliverd
        </a>
        <a class="col-2 text-decoration-none text-center pb-2 @currentStatus("4")" asp-page="/Orders/Purchase" asp-route-type="4">
            Cancel
        </a>
    </div>
    <!-- Search start -->
    <div class="search-section w-100 pt-3">
        <form method="get" asp-page-handler="Search">
            <input type="text" placeholder="Search by product name, shop or by order Id"
                   name="search"
                   class="w-100 border-0 p-3 pl-5"
                   style="background: #d8d8d8;" />
        </form>
    </div>
    <!-- Search end -->
    <!-- Product start -->
    <div class="orders-content pt-3">
        @if (Model.Orders.Count() == 0)
        {
            <partial name="OrdersPartials/_EmptyCartPartial" />
        }
        else
        {
            @foreach (var item in Model.Orders)
            {
                <div class="bg-light shadow-sm orders-detail-content">
                    <div class="table-shop-row pl-4 pt-3 row">
                        <div class="col-8 text-danger font-weight-bold lead">
                            <i class="fa-solid fa-store"></i> &nbsp;
                            @item.OrderDetails.First().Product.Shop.Name
                        </div>
                        <div class="col-4 pr-5 text-danger" style="text-align: right;">
                            @item.ShippingSessions.Last().Status.ToString().FormatEnumString()
                        </div>
                    </div>
                    <hr class="col-11" />
                    @foreach (var details in item.OrderDetails)
                    {
                        <div class="table-product-row row col-12 p-3">
                            <a class="text-decoration-none text-dark col-10 row" asp-page="/Products/Details" asp-route-id="@details.ProductId">
                                <div class="col-2 pl-4 text-center">
                                    @if (details.Product.ImageUrl.StartsWith("img"))
                                    {
                                        <img src="~/@details.Product.ImageUrl" alt="" class="w-75">
                                    }
                                    else
                                    {
                                        <img src="@details.Product.ImageUrl" alt="" class="w-75">
                                    }
                                </div>
                                <div class="col-8">
                                    <span>
                                        <span class="text-dark">@details.Product.Name </span><br>
                                        <span class="text-sm-left">x @details.Quantity</span>
                                    </span>
                                </div>
                            </a>
                            <div class="col-2 text-center">
                                $@details.Product.OriginalPrice
                            </div>
                        </div>
                    }
                    <hr class="col-11" />
                    <div class="pr-5" style="text-align: right;">
                        Totals: <span class="text-danger font-weight-bold" style="font-size: 20px">$@item.Total</span>
                    </div>
                    <div class="pt-3 pr-4 pb-3" style="text-align: right;">
                        @if (item.ShippingSessions.Last().Status == BirdTrading.Domain.Enums.OrderStatus.Delivered)
                        {
                            <button class="btn btn-primary pl-5 pr-5 m-3">Rating</button>
                            <button class="btn btn-dark pl-5 pr-5 m-3">Buy again</button>
                        }
                        else
                        {
                            <button class="btn btn-primary pl-5 pr-5 m-3">Details</button>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <!-- Product end -->
</div> 