@page "{handler?}/{category?}"
@model BirdTradingApp.Pages.Products.CategoryModel
@using BirdTrading.Utils.Others
@{
    ViewData["Title"] = "Products";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-page="/Index">Home</a>
                <a class="breadcrumb-item text-dark" asp-page="/Products/Index">Shop</a>
                @if (ViewContext.RouteData.Values["category"] is null)
                {
                    <span class="breadcrumb-item active">@Model.RecentType</span>
                }
                else
                {
                    <a class="breadcrumb-item text-dark" asp-page="/Products/Category" asp-route-categoryType="@Model.RecentCategory.TypeId">
                        @Model.RecentCategory.Type.Type
                    </a>
                    <span class="breadcrumb-item active">@Model.RecentCategory.Name</span>
                }
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Category Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span></h5>
            <div class="bg-light p-4 mb-30">
                <form method="get" asp-page="Index" asp-page-handler="Filter">
                    @foreach (var item in Model.CategoryTypes)
                    {
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" @(item.Type.Equals(Model.RecentType) ? "checked" : "") id="categoryType-@item.Id"
                               name="categoryCheckBox" value="@item.Id">
                            <label class="custom-control-label" for="categoryType-@item.Id">
                                @item.Type
                            </label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                    }
                </form>
            </div>
            <!-- Category End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" id="sortingBtn" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@(Model.CurrentFilter is null ? "Sorting" : Model.CurrentFilter)</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-page-handler="Filter" asp-route-filterType="Latest" asp-route-pageSize="@Model.CurrentPageSize">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-page-handler="Filter" asp-route-filterType="@Model.CurrentFilter" asp-route-pageSize="10">10</a>
                                    <a class="dropdown-item" asp-page-handler="Filter" asp-route-filterType="@Model.CurrentFilter" asp-route-pageSize="20">20</a>
                                    <a class="dropdown-item" asp-page-handler="Filter" asp-route-filterType="@Model.CurrentFilter" asp-route-pageSize="30">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 pb-2">
                    @if (Model.RecentCategory is null)
                    {
                        <h4>Category: <em>@Model.RecentType</em></h4>
                    }
                    else
                    {
                        <h4>Category: <em>@Model.RecentCategory.Name</em></h4>
                    }
                </div>

                <div class="col-12 row">
                    @if (Model.Categories is not null && Model.Categories.Count() > 1)
                    {
                        @foreach (var item in Model.Categories)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-1 text-center m-auto">
                                <a asp-route-category="@item.Id" asp-page-handler="ByCategory"
                           class="btn btn-secondary text-dark border-dark w-100 mt-2 mb-2 text-center"
                           style="min-height: 60px;">
                                    @item.Name
                                </a>
                            </div>
                        }
                    }
                </div>

                <hr class="col-12" />

                @foreach (var item in Model.ProductPaging.Items)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                @if (item.ImageUrl.StartsWith("img"))
                                {
                                    <img class="img-fluid w-100" src="~/@item.ImageUrl" alt="">
                                }
                                else
                                {
                                    <img class="img-fluid w-100" src="@item.ImageUrl" alt="" style="width: 200px; height: 200px;">
                                }
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" asp-route-id="@item.Id"
                                   asp-page="Index" asp-page-handler="AddToCart"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" asp-route-id="@item.Id" asp-page="Details"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate text-wrap" asp-route-id="@item.Id" asp-page="Details">@item.Name</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>@StringUtils.FormatCurrency(item.OriginalPrice)</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(@item.Quantity)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @{
                    var previousDisabled = Model.ProductPaging.HasPreviousPage ? "" : "disabled";
                    var nextDisabled = Model.ProductPaging.HasNextPage ? "" : "disabled";
                    var firstPageIndex = Model.ProductPaging.PageIndex;
                }

                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <!-- Previous button -->
                            <li class="page-item @previousDisabled">
                                <a class="page-link @previousDisabled"
                                   asp-route-pageIndex="@(Model.ProductPaging.PageIndex - 1)"
                                   asp-route-filterType="@Model.CurrentFilter"
                                   asp-route-pageSize="@Model.CurrentPageSize">
                                    Previous
                                </a>
                            </li>

                            <!-- Current Page -->
                            <li class="page-item active">
                                <a class="page-link" asp-page="Index" asp-route-pageIndex="@firstPageIndex"
                                   asp-route-filterType="@Model.CurrentFilter"
                                   asp-route-pageSize="@Model.CurrentPageSize">
                                    @(firstPageIndex + 1)
                                </a>
                            </li>

                            <!-- Next page -->
                            @if (firstPageIndex + 1 <= Model.ProductPaging.TotalPagesCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-page="Index" asp-route-pageIndex="@(firstPageIndex + 1)"
                                   asp-route-filterType="@Model.CurrentFilter"
                                   asp-route-pageSize="@Model.CurrentPageSize">
                                        @(firstPageIndex + 2)
                                    </a>
                                </li>
                            }

                            <!-- Next 2 page -->
                            @if (firstPageIndex + 2 <= Model.ProductPaging.TotalPagesCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-page="Index" asp-route-pageIndex="@(firstPageIndex + 2)"
                                   asp-route-filterType="@Model.CurrentFilter"
                                   asp-route-pageSize="@Model.CurrentPageSize">
                                        @(firstPageIndex + 3)
                                    </a>
                                </li>
                            }

                            <!-- Next button -->
                            <li class="page-item @nextDisabled">
                                <a class="page-link @nextDisabled"
                                   asp-route-pageIndex="@(Model.ProductPaging.PageIndex + 1)"
                                   asp-route-filterType="@Model.CurrentFilter"
                                   asp-route-pageSize="@Model.CurrentPageSize">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
@section Scripts {
    <partial name="ProductAjax/_FilterByCategory" />
}